*{
  box-sizing: border-box;
}

.design{
   
  font-family: "Times New Roman", Times, serif;
  font-variant: small-caps;
  font-size: 100%;
  background-attachment: fixed;
  justify-content: left;
  align-items: center;
  text-align: center;
  font-weight: bold;
}
.desig2{
   
  font-family: "Times New Roman", Times, serif;
  font-variant: small-caps;
  font-size: 100%;
  background-attachment: fixed;
  justify-content: left;
  align-items: center;
  text-align: center;
  font-weight: bold;
}

.design3{
   
  font-family: "Times New Roman", Times, serif;
  font-variant: small-caps;
  font-size: 100%;
  background-attachment: fixed;
  justify-content: left;
  align-items: center;
  text-align: center;
  font-weight: bold;
  position: "absolute";
  width:"100%";
  left: "50%";
  top: "60%";
 height: "190%";
                  objectFit: "cover";
                  transform: "translate(-50%,-50%)";
                  zindex: "-1";

  background-image: url(./img.jpg);
  background-repeat: no-repeat;
 
  background-size: cover;


}
.design1{
   
  font-family: "Times New Roman", Times, serif;
  font-variant: small-caps;
  font-size: 100%;
  background-attachment: fixed;
  justify-content: left;
  align-items: center;
  text-align: center;
  font-weight: bold;
}
.title {
    text-align: center;
    margin-top: 50px;
   height: 5px;
   margin: 0px;
   padding: 0px;
   }